.categoriesSection {
    padding: 60px 40px;
    color: #fff;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 700;
    color: #222;
}

/* الكرت */
.categoryCard {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.categoryCard:hover {
    transform: translateY(-8px);
}

/* الصورة */
.imageWrapper {
    position: relative;
    margin-bottom: 15px;
}

.imageWrapper img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 16px;
}


/* Badge */
.badge {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff6b57;
    color: #fff;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

/* اسم الكاتيجوري */
.categoryName {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #222;
}