.page {
  padding: 60px;
}

.wrapper {
  display: flex;
  gap: 40px;
}

/* TABLE */
.table {
  flex: 1;
}

.head,
.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.head {
  font-weight: bold;
}

.product {
  display: flex;
  align-items: center;
  gap: 14px;
}

.product img {
  width: 50px;
}

.remove {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.qty {
  display: flex;
  gap: 10px;
  align-items: center;
}

.qty button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}

.sub {
  color: #ff7a65;
}

/* SUMMARY */
.summary {
  width: 300px;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 12px;
}

.summary h4 {
  margin-bottom: 20px;
}

.line,
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.total {
  font-weight: bold;
}

.checkout , .clear {
  margin-top: 20px;
  width: 100%;
  background: #ff7a65;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
}
